*.iml

*.log
*.google-services.json/
*.idea/
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.problem-report.html
/.idea/assetWizardSettings.xml
.DS_Store
*.build/
.values.xml/
/captures
.externalNativeBuild
.cxx
local.properties

*.values.xml/

*.json
